---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
  const markdownFiles = await getCollection('thoughts');
  return markdownFiles.map(thought => ({
    params: { slug: thought.id }, props: { thought },
  }));
}

const { thought } = Astro.props;
const { Content } = await render(thought);

console.log(`thought: ${thought}`);
console.log(`Content: ${Content}`);
---

<BaseLayout title={thought.data.title}>
    <article class="prose prose-invert mx-auto">
        <h1 class="text-4xl font-bold text-white mb-4 text-center">{thought.data.title}</h1>
        <div class="text-gray-400 mb-8 text-center">
            Published on: {thought.data.pubDate.toLocaleDateString()}
        </div>
        <div class="text-white text-left">
            <Content />
        </div>
    </article>
    <Footer slot="footer"/>
</BaseLayout> 